.Lbody{
  background-image: url(../../images/loginbackground.jpg);
  height: 100vh;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
.leftside{
  border-radius: 5px;
  height: 550px;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 26, 26, 0.611);

}
.leftside .login{
  color: white;
  width: 70%;
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
.Linp{
  width: 85%;
  border: none;
  border-radius: 3px;
  height: 50px;
  padding: 10px;
}
.Lbut{
  width: 150px;
  height: 40px;
  border: none;
}
.Lbut:active{
  background: rgb(78, 78, 78);
  color: black;
}
.Lbut:hover{
  cursor: pointer;
}
.Lbut2{
  width: 120px;
}
.Lbut2:active{
  background: rgb(78, 78, 78);
  color: black;
}
.Lbut2:hover{
  cursor: pointer;
}
.Ldont{
  color: white;
  font-size: 20px;
}
.Lend{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.Lff{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0); /* Initial and final position */
  }
  25%,
  75% {
    transform: translateX(-5px); /* Move to the left */
  }
  50% {
    transform: translateX(5px); /* Move to the right */
  }
}

@media (max-height: 600px) {
  .Lall {
    height: 600px; /* Set your constant height in pixels */
    overflow: hidden;
  }
  .Lgradient-form{
    height: 600px; /* Set your constant height in pixels */
    overflow: hidden;
  }
}